.eex-lista {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.eex-form-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 16px;
}

@media (max-width: 800px) {
  .eex-form-row {
    grid-template-columns: 1fr 1fr;
  }
}
